.graph-collection {
  display: grid;
  padding: 0.5rem;
  row-gap: 1rem;
  width: 100%;
}

.graph-container {
  padding: 0.5rem;
  background-color: white;
  min-height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100px;
}

@media (width > 999px) {
  .graph-collection {
    display: flex;
    gap: 1rem;
    flex: 1;
  }

  .graph-container {
    flex: 1;
  }

  canvas {
    width: 100%;
    height: 100%;
  }
}
