.other-stats {
  display: none;
}

@media (width > 999px) {
  .main {
    width: 1000px;
    margin: auto;
  }
  .other-stats {
    flex: 1;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 0.5rem;
    padding-bottom: 0.75rem;
  }

  .other-stat {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-left: 1px dashed black;
    padding: 0rem 0.75rem;
  }

  .other-stats .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--stravaRed);
  }

  .filled {
    background-color: rgb(244, 244, 244);
  }

  .other-stat-loading {
    display: grid;
    place-items: center;
    grid-row-start: 1;
    grid-row-end: 6;
    height: 100%;
  }

  .circle {
    height: 8px;
    width: 8px;
    background-color: var(--stravaRed);
    border-radius: 50%;
    position: absolute;
    left: -5px;
  }
}
