.other-stats {
  display: none;
}

@media (width > 999px) {
  .main {
    width: 1000px;
    margin: auto;
  }
  .other-stats {
    flex: 1;
    padding: 0rem 1rem 1rem 1rem;
    background-color: white;
    display: grid;
    flex: 1;
    margin-bottom: 0.5rem;
  }

  .other-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .other-stats h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .other-stat-loading {
    display: grid;
    place-content: center;
  }
}
