.top-stat {
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-stat img {
  width: 20px;
  height: auto;
  margin-left: 0.25rem;
}

.top-stat-content {
  text-align: end;
  color: var(--stravaRed);
}

.stat-figure {
  font-weight: 700;
}

@media (width > 999px) {
  .top-stat,
  .top-stat-loading {
    flex: 1;
  }
}
