.top-stat-collection #loading-icon {
  width: 50px;
}

.top-stat-loading {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.top-stat-collection {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

@media (width > 999px) {
  .top-stat-collection,
  .top-stat-loading {
    display: flex;
  }
}
