* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* --stravaRed: rgb(247, 87, 8);
  --stravaHover: rgb(204, 66, 0);
  --stravaOffWhite: rgb(249, 248, 245);
  --stravaPeach: rgb(254, 212, 191);
  --stravaLightPeach: rgb(255, 225, 191); */
  /* --stravaRed: #bc4749;
  --stravaHover: #386641;
  --stravaOffWhite: rgb(249, 248, 245);
  --stravaPeach: #a7c957;
  --stravaLightPeach: #6a994e; */
  --dark1: #081c15;
  --dark2: #1b4332;
  --med1: #2d6a4f;
  --mid2: #40916c;
  --lite1: #52b788;
  --lite2: #d8f3dc;
  --accentRed: #bc4749;
}
#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--lite2);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bottom-stat-collection {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.bottom-stat {
  background-color: azure;
  padding: 0.5rem;
}

#last5 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bordered {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* Home Page - Mobile first */
.home-container {
  /* background-color: var(--stravaPeach); */
  height: 100dvh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.home-content {
  flex: 2;
  padding: 1rem;
  display: grid;
}

.topBg {
  background-image: url("../src//assets/images/layered-peaks-haikei.png");
  flex: 1;
  width: 100%;
  max-width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative; */
  display: grid;
  place-content: center;
}

.topBg h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
  margin-bottom: 5rem;
  /* position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

.home-content h4 {
  color: var(--dark1);
}

.home-content p {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.home-content a {
  text-align: center;
}

#connect-strava-button {
  width: 100%;
  max-width: 300px;
  height: 3.5rem;
}

#strava-logo {
  width: 50%;
  height: 2rem;
}
