* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --stravaRed: rgb(252, 82, 0);
  --stravaHover: rgb(204, 66, 0);
  --stravaOffWhite: rgb(249, 248, 245);
  --stravaPeach: rgb(254, 212, 191);
  --stravaLightPeach: rgb(255, 225, 191);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--stravaOffWhite);
}

.main {
  flex: 1;
  background-color: var(--stravaOffWhite);
}

.bottom-stat-collection {
  padding: 0.5rem;
  width: 100%;
}

.bottom-stat {
  background-color: azure;
  padding: 0.5rem;
}

#last5 {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (width > 999px) {
  .main {
    width: 1000px;
    margin: auto;
  }
}
